{{> header}}

{{#if loggedIn}}
    {{> nav}}
{{/if}}

<section id="viewMe">
    <div class="content">
        <div class="chirper">

            <h2 class="titlebar">{{user.username}}</h2>

            {{> create-chirp-form}}

            <div id="myStats" class="user-details">
                {{> user-stats}}
            </div>
        </div>
        <div id="myChirps" class="chirps">
            <h2 class="titlebar">Chirps</h2>
            {{#if chirps}}
                {{#each chirps}}
                    {{> chirp}}
                {{/each}}
            {{else}}
                <div class="chirp"><span class="loading">No chirps in database</span></div>
            {{/if}}
        </div>
    </div>
</section>

{{> footer}}
