<form id="formSubmitChirp" class="chirp-form" action="#/postChirp" method="post">
    <h3>Write your Chirp!</h3>
    <textarea name="text" class="chirp-input"></textarea>
    <input class="chirp-submit" id="btnSubmitChirp" value="Chirp" type="submit">
</form>